$color-0: #ffffff;
$color-0-hover: #fffffff5;
$color-1: #231f20;
$color-2: #222222;
$color-3: #555555;
$color-4: #aaaaaa;
$color-5: #1f1b1c;
$color-6: #171415;
$color-7: #0f0d0e;
$color-8: #888888;
$color-bg: #ebebeb;
$color-footer-menu: #bdbdbd;
$color-tel: #ffdd8a;
$color-tel-hover: #f8ce64;
$color-dark-red: #c10202;
$color-red-primary: #ff0000;
$color-span-red: #f92525;
$color-btn-wpp: #67bb34;
$color-btn-wpp-hover: #60a534; 
$color-wpp-fix-btn: #25d366;
$color-wpp-fix-btn-shaddown: #888;