@font-face {
  font-family: Georgia;
  src: url(../../assets/include/fonts/georgia.ttf);
}

$menu-font: 'Georgia', Arial, Helvetica, sans-serif;
$roboto-thin: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;